<% layout('app') -%>
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/custom.css">
<div class="container m-t-20">

  <div class="row">
    <div class="col-md-8">
      <h1><%= story.headline %></h1>
      <img src="<%= story.image %>" alt="">
      <p><%= story.body %></p>
    </div>
    <div class="col-md-4">
    </div>
  </div>

</div>
